<div class="clearfix flex p3 h2">
  <div class="">
    <p class="">{{model.name}}</p>
    <p class="">{{link-to "Edit info" "articles.edit" model}}</p>
    <p class=""><a href="#" {{action "delete" model}}>Delete</a></p>
  </div>
</div>
